<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <caption>Product List</caption>
        <thead>
            <tr>
                {% for header in headers %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for product in products %}
                <td>{{  product.id  }}</td>
                <td>{{  product.name }}</td>
                <td>{{  product.category }}</td>
                <td>{{  product.price }}</td>
            </tr>
                {% endfor %}
        </tbody>
    </table>
    {% if error %}
    <p> {{ error }}</p>
    {% endif %}
    </body>
</html>